img {
  height: 290px;
  width: 290px;
  object-fit: cover;
  border-radius: 1px;
}

.container {
  max-width: 290px;
  margin: 0 auto;
  margin-top: 20vh;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  height: 415px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.name {
  font-weight: bold;
  font-size: 12px;
  color: #7a8594;
  margin-bottom: 20px;
}

.title {
  margin-top: 20px;
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 15px;
  color: #0f5ef0;
}

.modified {
  font-weight: normal;
  font-size: 12px;
  color: #7a8594;
  margin-bottom: 14px;
}

.card__details {
  margin-left: 16px;
  margin-bottom: 14px;
}

.card:hover {
  cursor: pointer;
  /* opacity: 90%; */
  /* offset: 0px 3px; */
  box-shadow: 0px 3px 18px 0 rgba(0, 0, 0, 0.6);
}
